.main_container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
}

.carosello {
	display: flex;
	width: 1000px;
	max-width: 100%;
	height: 700px;
	max-height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.highlighted {
	height: 100%;
	width: 80%;
}

.thumb {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 20%;
}

.img_container {
    width: 100%;
	height: 100%;
    position: relative;
}

.title {
    background-color: rgba(128, 128, 128, 0.385);
    border-radius: 4px;
    padding: 1px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 2%;
    bottom: 10%;
}

.text {
    background-color: rgba(128, 128, 128, 0.385);
    border-radius: 4px;
    padding: 1px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 20%;
    right: 2%;
    bottom: 2.5%;
    text-align: right;
}

.highlighted .img_container img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.highlighted .img_container {
    display: none;
}

.highlighted .img_container.active {
    display: block !important;
}

.carosello .highlighted.active {
	display: block;
}

.carosello .controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 2.5rem;
	z-index: 9;
}

.thumb img {
	flex: 1 0 0;
	display: block;
	width: 100%;
	height: 0;
	object-fit: cover;
	filter: brightness(.3);
}

.thumb .active {
	filter: brightness(1);
	border: 5px solid lightgrey;
}

.reverse{
	position: absolute;
	z-index: 20;
	padding: 10px 10px;
	font-size: 20px;
	background-color: rgb(255, 179, 0);
}